<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.css">
<div class="container">
  <br>
  <h1 align="center">Escuela Politécnica Nacional</h1>
  <h1 align="center">Tecnologías Web con JavaScript</h1>
  <h2 align="center">Evelyn Regalado</h2>

  <div class="row">
    <div class="col-sm-6" >

      <div class="form-group">

        <label class="col-form-label">
          Ingrese los datos:
        </label>
        <!-- Recive al input-->
        <input class="form-control"
               placeholder="Ingrese el Motivo"
               [(ngModel)]="nuevoBorrachera.motivo" type="text">
        <input class="form-control"
               placeholder="Ingrese la Latitud"
               [(ngModel)]="nuevoBorrachera.latitudDondeEmpezo" type="text">
        <input class="form-control"
               placeholder="Ingrese la Longitud"
               [(ngModel)]="nuevoBorrachera.longitudDondeEmpezo" type="text">

      </div>
      <button class="btn btn-primary" (click)="crearBorrachera()">Guardar</button>
      <div class="row">
        <div class="col-sm-3" *ngFor="let borrachera of borracheras">
        </div>
    </div>

